@font-face {
    font-family: 'MasonChronicles';
    src: url('../fonts/MasonChronicles.woff') format('woff'),
        url('../fonts/MasonChronicles.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
}